@import url("css/plugins.css");
@import url("css/style.css");

.toast-message {
    background: rgb(236, 236, 236);
    color: rgb(26, 24, 24);
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}
.blockquote {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid rgb(114, 113, 113);
    font-family: 'Roboto', serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 100;
}

.border {
    border: none;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
 }

 .bg-color{
    
 }